body {
	background-color:#f2f6f6;
}
.arow {
	display: flex;
 	justify-content: center; 
	align-items: center;
	padding:2px 0px;
	background-color: lightblue;
	border: 1px solid black;
}
.aday,.awknd {
	margin: 1px;
	padding:0px;
	height:40px;
	border: 1px solid black;	
	flex: 1;
}
.awknd {
	background-color: #96bab5;
	overflow: hidden;
}
.aday {
	background-color: #b4ceca;
	overflow: hidden;
}
.scheduled{
	position: relative;
	height:100%;
	cursor:pointer;
	color:white;
}

.leftcol {
	width:150px;
	background-color:#e7efef;
	color:black;
	padding-left:10px;
	height:30px;

}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */

}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
	width: 150px;
    top: 0px;
    left: 80%; 
    position: absolute;
    z-index: 1;
	overflow: visible;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
